/* .App {
  text-align: center;
  padding-left: calc(100vw - 100%);
  
} */

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-top: 100px;
}

.approve {
  display: flex;
  justify-content: center;
  align-items: center;
}
